@use '../../Base/variables' as v;
@use '../../Base/mixins' as m;
.contenedor{
    display: flex;
    flex-direction: row;
    width: 96%;
    margin: auto;
    gap: 1rem;
    height: auto;
    
    .cont-opciones{
        width: 20%;
        border: 2px solid rgb(0, 0, 0);
        height: 313px;
        background-color: v.$colorTextoS;
        position: sticky;
        top:300px;
        div{
            text-align: center;
            display: block;
            padding: 10px;
            font-size: 20px;
            color: white;
            font-weight: 900;
            border: 1px solid black;
            transition: all 0.6s ease-in-out;
            cursor: pointer;

            &:hover{
                background-color: v.$fondoHover;
            }
        }
    }
    .cont-card{
        width: 100%;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3,1fr);
        .card{
            width: 100%;
            border-radius: 20px;
            box-shadow: 6px 7px 10px 1px;
            height: 65vh;
           
            transition: all 0.8s ease-in-out;
            /*
            &:hover{
                //scale: 1.03;
                border: 2px solid v.$fondoHover ;
                box-shadow: 6px 7px 10px 1px v.$fondoHover;
            }
                */
            .cont-info{
                width: 100%;
                display: flex;
                flex-direction: column;
                
                .cont-img{
                    width: 100%;
                    background-color: v.$fondoBotonP;
                    border-radius: 10px;
                    .image{
                        width:  100%;
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            margin-bottom: 1rem;
                            margin-top: 1rem;
                            border: 3px solid white;
                            border-radius: 100%;
                            width: 50%;
                            height: 150px;
                        }
                    }
                }
                .contenedor-inf {
                        perspective: 1000px; // profundidad
                        flex: 1; // ocupa espacio restante de la card
                        .flip-card {
                                width: 100%;
                                height: 100%;
                                position: relative;
                                transform-style: preserve-3d;
                                transition: transform 1s ease;

                            &.flipped {
                                transform: rotateY(180deg);
                            }

                        .flip-card-inner {
                            width: 100%;
                            height: 100%;
                            position: relative;
                            transform-style: preserve-3d;
                            
                        }

                            .flip-card-front,
                            .flip-card-back {
                                position: absolute;
                                width: 100%;
                                backface-visibility: hidden;
                                border-radius: 10px;
                                border: 2px solid;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                            }
                            .flip-card-front {
                                background-color: white;
                                height: 35vh;
                        }            
                        .flip-card-back {
                                background-color: white;
                                color: rgb(0, 0, 0);
                                transform: rotateY(180deg);
                                height: 35vh;
                            }
                        }
                    }
            }
        }
    }
}
.cont-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .btn{
        background-color: v.$fondoBotonP;
        border-radius: 10px;
        border: none;
        width: 20%;
        font-weight: 900;
        color: white;
        padding: .8rem;
        &:hover{
            background: v.$fondoHover
        }
    }
}