@use '../../Base/variables' as v;
@use "sass:color";
.cont-footer{
    background: color.scale(v.$fondoHeader, $lightness:-15%);
    box-shadow: inset 0 8px 20px rgba(0, 0, 0, 0.25);
    padding-top: 1rem;
    padding-bottom: .5rem;
    margin-top: 1rem;
    .cabecera{
        position: relative;
        text-align: center;
        .redes{
            position: static;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            display: flex;
            flex-direction: row;
            a{
                border-radius: 10px;
                border: 2px solid v.$fondoBotonP;
                padding: 12px;
                transition: all 0.3s ease;
                background-color: transparent;
                svg{
                    
                    color: white;
                    width: 20px;
                    height: 20px;
                    transition: color 0.3s ease;
                }
                &:hover{
                    background-color: v.$fondoBotonP;
                    svg {
                        color: v.$fondoHeader;
                    }
                }
            }
        }
    }
    .pie{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 0 5%;
            text-align: left;
        
        .info-izq{
            display: flex;
            flex-direction: column;
            a{
                color: white;
                padding: 5px;
                font-size: 18px;
                font-weight: 700;
                &:hover{
                    
                    text-decoration:  2px underline  v.$fondoBotonP;
                }
            }
        }
        .info-central{
            margin-top: .5rem;
            font-size: 18px;
            color: white;
            font-weight: 700;
            text-align: center;
            span{
                color: v.$fondoBotonP;
                font-weight: 900;
            }
        }
        .info-der{ 
            display: flex; 
            flex-direction: column; 
            
            margin-bottom: 1rem; 
            p{
                margin:0; 
                font-size: 18px;
                color: white; 
                font-weight: 700; 
                padding: 5px; 
                font-size: 18px; 
            }
        }
        
    }

}