@use 'variables' as v;

//creando nuestros mixins- funciones

@mixin telefono {
    @media (max-width: calc(v.$tablet - 1px)) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) and (max-width: calc(v.$escritorio - 1px)) {
        @content;
    }
}

@mixin contenedor {
    width: 95%;
    max-width: 120rem;
    margin: auto;
}

@mixin grid($columnas: 1, $gap: 1fr) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}
