//Variables de colores
$fondoHeader: #2ec4b6;
$fondoBotonP: #ff6b6b;
$fondoBotonS: #6a4c93;
$fondoHover: #ffd166;
$colorTextoS: #777777;
$colorTextoSdegradado: #7777779b;
$colorTextoP: #ffffff;
$colorTextoD: #000000;

//medidas media query
$telefono: 0px;
$tablet: 768px;
$desktop: 1200px;
