@use '../../Base/variables' as v;
@use '../../Base/mixins' as m;
.content-form {
    width: 70%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    background-color: rgb(from v.$colorTextoP r g b / 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    /* SECCIÓN IZQUIERDA */
    .login-section {
        width: 50%;
        padding: 2rem 3rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            text-align: center;
            font-size: 2.3rem;
            margin-top: 9rem;
            margin-bottom: 1rem;
            color: #333;
            font-weight: 700;
        }

        /* Ícono usuario */
        .user-icon {
            position: absolute;
            top: 2.5rem;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 100%;
            padding: 1rem;
            border: 2px solid v.$fondoHeader;
            background: v.$colorTextoP;
            width: 8rem;
            height: 8rem;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);

            svg {
                width: 100%;
                height: 100%;
            }
        }

        /* Inputs */
        .login-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            label {
                font-weight: 600;
                font-size: 1.1rem;
                margin-bottom: 0.5rem;
                width: 60%;
                color: v.$colorTextoD;
            }

            input {
                width: 60%;
                padding: 0.8rem 1rem;
                margin-bottom: 1.5rem;
                font-size: 1rem;
                border-radius: 12px;
                background-color: var(--colorTextoDegradado);
                border: 1px solid var(--colorTextoS);
                outline: none;
                transition: 0.2s ease;

                &:focus {
                    border-color: v.$fondoHeader;
                    box-shadow: 0 0 8px rgba(0, 182, 161, 0.4);
                }
            }
        }

        /* BOTONES */
        .button-content {
            display: flex;
            justify-content: center;
            gap: 2rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

    /* SECCIÓN DERECHA */
    .content-image {
        width: 50%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
@include m.telefono {
    .content-form {
        width: 90%;
        flex-direction: column;
        height: auto;
        .login-section {
            width: 100%;
            .user-icon {
                top: 1rem;
            }
            .login-content {
                align-items: flex-start;
                label {
                    width: 100%;
                }
                input {
                    width: 100%;
                }
            }
        }
        .content-image {
            width: 100%;
            height: 40vh;
        }
    }
}
@include m.tablet {
    .content-form {
        width: 90%;
        margin-top: 6rem;

        height: auto;
        .login-section {
            width: 100%;
            .user-icon {
                top: 1rem;
            }
            .login-content {
                align-items: flex-start;
                label {
                    width: 100%;
                }
                input {
                    width: 100%;
                }
            }
        }
        .content-image {
            width: 100%;
            height: 55vh;
        }
    }
}
